{% extends 'topteenfrontend/base.html' %} 
{% block main %}

<div class="mx-auto container px-[12px] pb-[27px]">
  <h1
    class="boldFont lg:leading-[1.35em] lg:text-[32px] text-[#333333] mb-[10px] boldFont text-left pt-[10px] text-[24px] leading-[32px]"
  >
   About Us
  </h1>

  <div>
    <p class="pt-[10px]">TopTeen, a venture of Canam Consultants Ltd, is an Ed-Tech career platform. Our goal is to establish
India&#39;s most influential and dependable career counselling ecosystem, providing students,
professionals, and career counsellors with opportunities to change their lives.
</p><p class="pt-[10px]">
One of the most crucial choices in a student&#39;s academic and professional life is their career
choice. These choices must be made with the highest care and knowledge. We combine artificial
intelligence and machine learning with thoughtful human engagement to assist students in
enabling career success. We strive to reduce human bias in the choice of a vocation. We use
technology and research to assist parents, teachers, career counsellors, and students in making
informed career decisions. Together, our platform and consultants streamline this procedure.
</p><p class="pt-[10px]">
With over 25 years of domain knowledge and expertise, Canam has become one of the most
trustworthy brands in the higher education and study abroad sectors, one of the most rapidly
expanding Ed-tech enterprises, and has already had a significant impact on thousands of careers.
</p><p class="pt-[10px]">
We’ve counselled students seeking an international education with course/ country/ college or
university selection based on their academic abilities, skills, interests, and learning style. Also,
we provide aspirants with turnkey solutions, from admissions to enrollment, visa guidance, and
value-added services related to accommodation/ loans/ scholarships etc. We strive to be able to
do it for more than a million children throughout India.
</p><p class="pt-[10px]">
Having assisted thousands of students in the past and being aware of the immense shortage of
career counsellors, we believe that a well-structured career guidance platform will add value to
students seeking to explore their true potential.
</p>    
  </div>
<h2 class="boldFont mt-[20px] lg:leading-[1.35em] lg:text-[24px] text-[#333333] mb-[10px] boldFont text-left text-[20px] leading-[32px]">
  OUR VISION
</h2>
<p class="pt-[10px]">
  Our vision is to design and develop India’s most efficient and reliable career guidance ecosystem
that will assist students in navigating their future. Through this result-oriented platform with a
built-in mentoring process, students will be empowered to make the most critical decision for
their future careers and life.
</p>

<h2 class="boldFont mt-[20px] lg:leading-[1.35em] lg:text-[24px] text-[#333333] mb-[10px] boldFont text-left text-[20px] leading-[32px]">
  THE PLATFORM
</h2>
<p class="pt-[10px]">
  Our objective is to launch a technology-driven career guidance platform for the benefit of
  students, across India, in a counselling-deficit education sector. While there are a few
  competitors, the space is still largely unexplored, and the market potential is enormous. As such,
  we believe that our innovative platform is best positioned to disrupt and grow this domain by
  algorithmically matching students’ characteristics with occupational demands to assist them in
  shortlisting their best-fit career choice.
</p><p class="pt-[10px]">
  After completing an assessment test, the student is assigned personalized recommendations to
  achieve their personal, academic and career goals. With increasing competition for admissions to
</p><p class="pt-[10px]">
  leading universities and colleges in India, we aim to strengthen students’ competencies and build
  their confidence to make informed decisions through self-discovery.
</p><p class="pt-[10px]">
  The platform will provide all key decision-making stakeholders, i.e. parents/ counsellors/
  schools, with the requisite career tools to view long-term career opportunities and better prepare
  their students for the changing workplace. Through active engagement and development of
  relationships with schools and institutions across India, we will facilitate training and
  certification programs to upskill their teachers and counsellors vide our flagship programs and
  scientific career guidance tools. Further, this interactive platform will facilitate better
  communication among students, parents and schools and provide access to all stakeholders to
  monitor the career search process.
</p>

<h2 class="boldFont mt-[20px] lg:leading-[1.35em] lg:text-[24px] text-[#333333] mb-[10px] boldFont text-left text-[20px] leading-[32px]">
  WHAT WE OFFER
</h2>
<p class="pt-[10px]">
  Our AI-driven, feature-rich, intuitive platform seeks to actively engage students and provide
  them with the requisite college and career readiness tools, access world-class post-secondary
  education, and empower them to make the right career choices. The platform will offer
  independent dashboards for Students, Parents and Schools/ Counsellors to manage the career
  search process; a few of the platform features are listed below:
</p>
<p>
  <ul style="list-style: disc;padding-left: 20px;margin-top: 10px;">
    <li>
      <span class="boldFont"> Parent Involvement</span> We understand that parents significantly influence most career
decisions in India, and hence, we seek to involve parents at multiple levels 
</li><li>
<span class="boldFont"> Platform</span>: Provide interactive tools and outlined deliverables for students to
achieve their future career goals and career counsellors to scale their practice
</li><li> <span class="boldFont">Training and Development</span>: Facilitating training for budding career counsellors through
a certified Career Counsellor Training Program
</li><li> <span class="boldFont">Skill Building</span>: Digitally interactive content and personalized learning courses to upskill
and reskill.
</li><li>  <span class="boldFont">Turnkey Solution</span>: One-stop destination for students across India to get end-to-end
career guidance
</li><li><span class="boldFont">Mentoring</span>: Technology-driven, supported by online one-to-one sessions with career
counsellors
</li><li><span class="boldFont">Value Added Services</span>: Future college and career-related offerings 
</li><li> <span class="boldFont">Psychometric Test</span>: RIASEC personality assessment to help students identify their best-
fit career path.
</li><li><span class="boldFont">Curated Resources</span>: Updated and researched Career Library, careers-related blogs,
videos and events 
</li><li> <span class="boldFont">Discover and Plan</span>: Equip students with the requisite career-centric knowledge, research
and shadow real-world skills, and get recommendations based on data-driven insights and
predictive analytics software to navigate their future. 
</li><li><span class="boldFont">Gamification</span>: To motivate, engage and make the career search process fun and more
effective 
</li><li> <span class="boldFont">Gap year solutions and Virtual Internships</span></li>
</ul>
</p>

<h2 class="boldFont mt-[20px] lg:leading-[1.35em] lg:text-[24px] text-[#333333] mb-[10px] boldFont text-left text-[20px] leading-[32px]">
  PLATFORM’S POTENTIAL
</h2>
<p class="pt-[10px]">
  Our platform has been conceived to encourage students to coherently and cohesively formulate
  their dreams and aspirations while complementing them with their personality, interests, aptitude
  and educational understanding. With a McKinsey report stating that most graduates are not
  employable, our platform focuses on providing students with the best-fit career options
  supported by a college and future career readiness program. We are solving a dire shortage of
  over 1.5 million career counsellors across India, wherein only 5% of the over 30 million eligible
  students get access to career and college consulting advisors. With our unique and scalable
  model, which will address the needs of the unorganized career guidance sector, we aim to work
  on both the demand and supply sides of career guidance. Through this multi-lingual career
  platform and a holistic career development process, our objective is to provide equal opportunity
  to students from diverse socio-economic diverse backgrounds.
</p>
</div>


{% endblock %}
