<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/customCSS.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>Career Interests</title>
</head>

<body>

    <main class="lg:max-w-[1280px] mx-auto px-[20px] lg:pl-[100px] lg:pr-[90px]">

        <!-- Career Heading -->
        <section class="lg:pt-[60px]">
            <div
                class="py-[24px] border-b-[2px] border-solid border-[#ebebee] lg:hidden relative px-[20px] lg:px-[100px] ">
                <p class="text-[16px] leading-[21px] regularFont text-[#0f0f0f] text-center">Career Interests</p>
                <button class="absolute bottom-[18px] left-[24px]">
                    <i class="fa-solid fa-arrow-left text-[#828282] text-[18px] leading-[50px]"></i>
                </button>
                <button class="absolute bottom-[18px] right-[24px]">
                    <i class="fa-solid fa-search text-[#828282] text-[18px] leading-[50px]"></i>
                </button>
            </div>

            <div class="hidden lg:flex ">
                <p class="text-[24px] leading-[32px] semibold text-[#0f0f0f] my-auto">Career Interests</p>
            </div>

        </section>
        <!-- End of Career Heading -->

        <!-- Career Cards -->
        <section
            class="py-[24px] lg:py-[36px] flex justify-start gap-[12px] lg:gap-[30px] overflow-x-scroll no-scrollbar">

            <div
                class="w-[125px] h-[125px] lg:w-[248px] lg:h-[208px] flex flex-col lg:flex-col-reverse items-center lg:justify-end lg:pt-[24px] pt-[9px] bg-[#333333] rounded-[10px] shrink-0">
                <div class="lg:mt-[24px]">
                    <h6
                        class="text-[13px] leading-[18px] lg:text-[18px] lg:leading-[24.3px] tracking-[0.035em] semibold mb-[6px] text-white">
                        Engineering
                    </h6>
                    <div
                        class="text-center px-[8px] py-[3px] rounded-[100px] bg-white bg-opacity-[0.22] text-[10px] leading-[13.5px]  text-white semibold mb-[25px]">
                        5 shortlisted
                    </div>
                </div>

                <div class="h-[48px] w-[63px] lg:w-[88px] lg:h-[88px]">
                    <img class="h-[48px] w-[63px] lg:w-[88px] lg:h-[88px] object-cover object-top"
                        src="../assets/images/engineering.png" />
                </div>

            </div>

            <div
                class="w-[125px] h-[125px] lg:w-[248px] lg:h-[208px] flex flex-col lg:flex-col-reverse items-center lg:justify-end lg:pt-[24px] pt-[9px] bg-[#333333] rounded-[10px] shrink-0">
                <div class="lg:mt-[24px]">
                    <h6
                        class="text-[13px] leading-[18px] lg:text-[18px] lg:leading-[24.3px] tracking-[0.035em] semibold mb-[6px] text-white">
                        Art & Design
                    </h6>
                    <div
                        class="text-center px-[8px] py-[3px] rounded-[100px] bg-white bg-opacity-[0.22] text-[10px] leading-[13.5px]  text-white semibold mb-[25px]">
                        1 shortlisted
                    </div>
                </div>

                <div class="h-[48px] w-[63px] lg:w-[88px] lg:h-[88px]">
                    <img class="h-[48px] w-[63px] lg:w-[88px] lg:h-[88px] object-cover object-top"
                        src="../assets/images/portrait.png" />
                </div>

            </div>

        </section>
        <!-- End of Career Cards -->

        <!-- Career info -->
        <section class="pt-[28px] lg:pt-[40px] flex flex-col gap-y-[16px] lg:gap-y-[24px]">

            <div class="flex justify-between lg:max-w-[400px]">
                <div class="flex gap-[12px]">
                    <img src="../assets/images/unsplash3.svg" class="w-[69px] h-[69px] object-cover rounded-[10px] my-auto" alt="">
                    <div class="my-auto">
                        <p class="text-[13px] leading-[17.55px] semibold text-[#333333]">Biomedical engineer</p>
                        <div
                            class="mt-[2px] text-[#828282] font-normal text-[13px] leading-[17.55px] flex flex-row justify-start gap-1 items-baseline">
                            <span>12 Hours &#x2022;</span>&nbsp;
                            <img src="../assets/images/favourite 1.png" class="inline-block" /><span> 4.4</span>
                        </div>
                    </div>
                </div>

                <i class="fa-solid fa-circle-xmark text-[#bdbdbd] my-auto"></i>
            </div>

            <div class="flex justify-between lg:max-w-[400px]">
                <div class="flex gap-[12px]">
                    <img src="../assets/images/unsplash4.svg" class="w-[69px] h-[69px] object-cover rounded-[10px] my-auto" alt="">
                    <div class="my-auto">
                        <p class="text-[13px] leading-[17.55px] semibold text-[#333333]">Aeronautical engineer</p>
                        <div
                            class="mt-[2px] text-[#828282] font-normal text-[13px] leading-[17.55px] flex flex-row justify-start gap-1 items-baseline">
                            <span>12 Hours &#x2022;</span>&nbsp;
                            <img src="../assets/images/favourite 1.png" class="inline-block" /><span> 4.2</span>
                        </div>
                    </div>
                </div>

                <i class="fa-solid fa-circle-xmark text-[#bdbdbd] my-auto"></i>
            </div>

            <div class="flex justify-between lg:max-w-[400px]">
                <div class="flex gap-[12px]">
                    <img src="../assets/images/unsplash9.svg" class="w-[69px] h-[69px] object-cover rounded-[10px] my-auto" alt="">
                    <div class="my-auto">
                        <p class="text-[13px] leading-[17.55px] semibold text-[#333333]">Cartographer</p>
                        <div
                            class="mt-[2px] text-[#828282] font-normal text-[13px] leading-[17.55px] flex flex-row justify-start gap-1 items-baseline">
                            <span>12 Hours &#x2022;</span>&nbsp;
                            <img src="../assets/images/favourite 1.png" class="inline-block" /><span> 4.2</span>
                        </div>
                    </div>
                </div>

                <i class="fa-solid fa-circle-xmark text-[#bdbdbd] my-auto"></i>
            </div>

            

        </section>
        <!-- Career info -->



    </main>

</body>

</html>