<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/customCSS.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>edit Profile</title>
</head>

<body>


    <div class="deletePop fixed">
        <div class="h-full w-full relative">
            <div class="deleteContent absolute bg-[#ffffff] rounded-xl py-[26px] px-[20px] inline-block mx-auto">
                <p class="text-[16px] leading-[21px] mediumFont text-[#828282]">Are you sure you want to delete this career?</p>
                <div class="flex mt-[24px] gap-[30px] justify-end">
                    <button class="inline-block boldFont text-[#3f37c9] text-[16px]">
                        No
                    </button>
                    <button class="inline-block boldFont text-[#3f37c9] text-[16px]">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>


    </script>
</body>

</html>