<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../layouts/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/customCSS.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Header -->

    <!-- Desktop Header -->
    <!-- <header class="mx-auto hidden lg:flex justify-between lg:container pr-[107px] pl-[107px] py-[16px]  border-b-[2px] border-[#ebebee] border-solid ">
        <ul class="flex gap-[16px]">
            <li class="flex">
                <img src="../assets/images/logo.svg" class="w-[38.5px] h-[38.5px]" alt="">
                <p class="text-[13.8px] leading-[18px] mt-[14px] ml-[8px] font-bold text-[#494949] tracking-[0.01em]">TOPTEEN</p>
            </li>
    
            <li class="flex ml-[36px]">
                <i class="fa fa-search mt-[15px] -mr-[32px] text-[#bdbdbd] relative z-[20] "></i>
                <input type="text]" placeholder=" Careers, colleges, courses..." class="h-[48px] w-[300px] rounded-[10px] pl-[36px] bg-[#f7f7fa] border-[1.5px] border-solid border-[#dcdcdc] placeholder-[#bdbdbd] relative z-[10]">
            </li>   
        </ul>
    
        <ul class="flex gap-[24px]">
            <li class="flex ">
                <img src="../assets/images/discover.svg" class="w-[22px] h-[22px] mt-[10px]" alt="">
                <p class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[4px]">Discover</p>
            </li>
            <li class="flex">
                <img src="../assets/images/myPlans.svg" class="w-[22px] h-[22px] mt-[10px]" alt="">
                <p class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[8px] text-[#828282]">My Plans</p>
            </li>
            <li class="flex">
                <img src="../assets/images/learn.svg" class="w-[22px] h-[22px] mt-[10px]" alt="">
                <p class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[4px] text-[#828282]">Learn</p>
            </li>
            <li class="flex">
                <img src="../assets/images/user.svg" alt="">
                <div class="-ml-[16px] w-[89px] h-[43px] bg-[#40b2d6] rounded-[119.44px]">
                    <div class=" flex h-[40px] w-[89px] rounded-[120px] bg-[#4cc9f0] pt-[9px] pl-[8px]">
                        <img src="../assets/images/xp.svg" class="w-[20px] h-[20px]" alt="">
                        <p class="text-[12px] leading-[16px] mt-[2px] ml-[4px] text-[#ffffff]">1280 XP</p>
                    </div>
                </div>
            </li>
            
        </ul>
    </header> -->
    <!-- End of Desktop Header -->

    <!-- No header for the Mobile -->

    <!-- End of Header -->
    <!-- Desktop Header -->
    <div
      class="mx-auto hidden lg:flex justify-between py-[16px] lg:max-w-[1280px] border-b-[2px]"
    >
      <div class="hidden lg:flex justify-between lg:container mx-auto">
        <ul class="flex gap-[24px]">
          <li class="flex">
            <img
              src="../assets/images/logo.svg"
              class="w-[38.5px] h-[38.5px]"
              alt=""
            />
            <p
              class="text-[13.8px] leading-[18px] mt-[14px] ml-[8px] font-bold text-[#494949] tracking-[0.01em]"
            >
              TOPTEEN
            </p>
          </li>

          <li class="flex">
            <i
              class="fa fa-search mt-[15px] -mr-[32px] text-[#bdbdbd] z-[20]"
            ></i>
            <input
              type="text]"
              placeholder=" Careers, colleges, courses..."
              class="h-[48px] w-[300px] rounded-[10px] pl-[36px] bg-[#f7f7fa] border-[1.5px] border-solid border-[#dcdcdc] placeholder-[#bdbdbd] z-[10]"
            />
          </li>
        </ul>

        <ul class="flex gap-[12px]">
          <li class="flex">
            <img
              src="../assets/images/discover.svg"
              class="w-[22px] h-[22px] mt-[10px]"
              alt=""
            />
            <p
              class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[4px]"
            >
              Discover
            </p>
          </li>
          <li class="flex">
            <img
              src="../assets/images/myPlans.svg"
              class="w-[22px] h-[22px] mt-[10px]"
              alt=""
            />
            <p
              class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[8px] text-[#828282]"
            >
              My Plans
            </p>
          </li>
          <li class="flex">
            <img
              src="../assets/images/learn.svg"
              class="w-[22px] h-[22px] mt-[10px]"
              alt=""
            />
            <p
              class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[4px] text-[#828282]"
            >
              Learn
            </p>
          </li>
          <li class="flex">
            <img src="../assets/images/user.svg" alt="" />
            <div
              class="-ml-[16px] w-[89px] h-[43px] bg-[#40b2d6] rounded-[119.44px]"
            >
              <div
                class="flex h-[40px] w-[89px] rounded-[120px] bg-[#4cc9f0] pt-[9px] pl-[8px]"
              >
                <img
                  src="../assets/images/xp.svg"
                  class="w-[20px] h-[20px]"
                  alt=""
                />
                <p
                  class="text-[12px] leading-[16px] mt-[2px] ml-[4px] text-[#ffffff]"
                >
                  1280 XP
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
