<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link href="../assets/css/customCSS.css" rel="stylesheet" />
    <link href="../layouts/css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="w-full h-full">
      <header class="flex justify-between items-center mt-[27px] lg:mt-[35px]">
        <img
          class="h-[15px] w-[15px] ml-[20px] lg:ml-[100px]"
          src="../assets/images/arrow.left.png"
        />
        <div
          class="justify-center space-x-1 items-center mr-[50px] lg:mr-[100px] hidden lg:flex"
        >
          <img src="../assets/images/graduation-hat 1.png" />
          <h2 class="text-[#494949] font-bold">TOPTEEN</h2>
        </div>
        <h2 class="text-[#494949] font-bold lg:hidden flex">LOG IN</h2>
        <p class="text-white">1</p>
      </header>

      <div
        class="w-full lg:w-[400px] h-[450px] border-[0px] lg:border-[1px] lg:border-[#DEDEDE] px-[23px] lg:px-[0px] mx-auto rounded-xl mt-[40px]"
      >
        <div class="lg:px-[25px] w-full h-full">
          <p
            class="justify-center items-center font-bold text-[#4F4F4F] my-[12px] hidden lg:flex"
          >
            LOG IN
          </p>
          <input
            class="w-full lg:w-[344px] border-[1px] border-[#DEDEDE] rounded-xl opacity-70 font-bold"
            type="text"
            placeholder="Email or phone number "
          />

          <button
            class="w-full lg:w-[344px] border-none rounded-xl text-white text-center bg-[#3F37C9] mt-[12px] h-[48px] font-bold"
            id="open"
          >
            CONTINUE
          </button>

          <div class="mt-2 flex justify-between items-center">
            <div class="bg-[#E4E4E4] h-[2px] w-full rounded-2xl"></div>
            <p class="text-[#494949] p-2 text-[12px] font-bold">OR</p>
            <div class="bg-[#E4E4E4] h-[2px] w-full rounded-2xl"></div>
          </div>

          <div
            class="w-full lg:w-[344px] h-[48px] bg-[#1877F2] rounded-xl flex justify-center items-center space-x-2"
          >
            <img src="../assets/images/Facebook Logo.png" />
            <p class="text-white text-[14px] font-bold">
              CONTINUE WITH FACEBOOK
            </p>
          </div>

          <div
            class="w-full lg:w-[344px] h-[48px] border-[2px] bg-[#F8F8F8] rounded-xl flex justify-center items-center space-x-2 shadow-2xl mt-[12px]"
          >
            <img src="../assets/images/logo googleg 48dp.png" />
            <p class="text-[#454545] text-[14px] font-bold">
              CONTINUE WITH GOOGLE
            </p>
          </div>

          <div
            class="w-full lg:w-[344px] h-[48px] bg-[#454545] rounded-xl flex justify-center items-center space-x-2 mt-[12px]"
          >
            <img src="../assets/images/Apple Logo.png" />
            <p class="text-white text-[14px] font-bold">CONTINUE WITH APPLE</p>
          </div>

          <p
            class="w-full lg:w-[344px] h-[46px] font-bold text-center mt-[20vh] lg:mt-[25px] text-[15px]"
          >
            By signing up for TopTeen, you agree to the
            <span class="font-bold text-[#3F37C9]">Terms and Conditions</span>
            and <span class="font-bold text-[#3F37C9]">Privacy Policy</span>
          </p>
        </div>
      </div>

      <p
        class="font-[8px] font-bold justify-center items-center mt-10 hidden lg:flex"
      >
        © 2023 TopTeen. All rights reserved.
      </p>

      <div
        class="h-[50px] w-full flex flex-col bg-[#F9F9F9] lg:hidden justify-center items-center border-t-[1px] border-gray-500 mt-16"
      >
        <div class="flex justify-center items-center space-x-[3px]">
          <p>topteen.com</p>
          <img src="../assets/images/trust.png" />
        </div>
        <div
          class="bg-[#4B4B4B] h-[5px] w-[139px] rounded-full mt-[5px] mb-[8px]"
        ></div>
      </div>
    </div>

    <script src="../assets/js/Loginpassword.js"></script>
  </body>
</html>
