<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/customCSS.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>My Courses</title>
</head>

<body>

    <main class="lg:pt-[60px] lg:max-w-[1296px] mx-auto">

        <!-- Courses Heading -->
        <section>
            <div
                class="py-[24px] border-b-[2px] border-solid border-[#ebebee] lg:hidden relative px-[20px] lg:px-[100px] ">
                <p class="text-[16px] leading-[21px] regularFont text-[#0f0f0f] text-center">My Courses</p>
                <button class="absolute bottom-[18px] left-[24px]">
                    <i class="fa-solid fa-arrow-left text-[#828282] text-[18px] leading-[50px]"></i>
                </button>
            </div>

            <div class="hidden lg:flex px-[20px] lg:px-[100px] ">
                <p class="text-[24px] leading-[32px] semibold text-[#0f0f0f] my-auto">My Courses</p>
            </div>

        </section>
        <!-- End of Courses Heading -->

        <!-- Courses Content -->
        <section class="px-[20px] lg:px-[90px] pt-[24px] lg:pt-[28px] flex flex-wrap justify-center md:justify-start gap-y-[20px] lg:gap-y-[50px] gap-x-[15px] lg:gap-x-[30px]">

            <div class="w-[356px] lg:w-[340px] pb-[20px] border-b-[1px] border-b-solid border-b-[#000000] lg:border-b-0 lg:pb-0 border-opacity-10">
                <div class="w-[356px] h-[154px] lg:w-[340px] lg:h-[216px] rounded-[10px] relative">
                    <img src="../assets/images/unsplash3.svg"
                        class="opacity-90 w-[356px] h-[154px] lg:w-[340px] lg:h-[216px] object-cover rounded-[10px]"
                        alt="">
                    <button
                        class="absolute opacity-100 top-[50%] -translate-y-[50%] -translate-x-[50%] left-[50%] z-10">
                        <i class="fa-solid fa-circle-play text-[48px] lg:text-[36px] text-[#ffffff]"></i>
                    </button>
                </div>

                <div class="pt-[15px]">

                    <p class="semibold text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px] text-[#333333]">UX Design 101</p>

                    <div
                        class="mt-[2px] text-[#828282] font-normal text-[13px] leading-[17.55px] flex flex-row justify-start gap-1 items-baseline">
                        <span>12 Hours &#x2022;</span>&nbsp;
                        <img src="../assets/images/favourite 1.png" class="inline-block" /><span> 4.4</span>
                    </div>

                    <!-- Progress Bar -->
                    <div class="mt-[18px] w-[356px] h-[7px] rounded-[100px] lg:w-[340px] bg-[#3f37c9] bg-opacity-[0.15]">
                        <div class="w-[40%] h-[7px] rounded-[100px] bg-[#3f37c9]">
                        </div>
                    </div>
                    <!-- End of Progress Bar -->

                    <div class="pt-[8px]">
                        <p class="text-[13px] leading-[17.55px] text-[#4f4f4f] semibold">Part 4: Human centered design</p>

                        <p class="max-w-[356px] lg:max-w-[340px] max-h-[44px] overflow-hidden mt-[8px] text-[10px] leading-[13px] regularFont text-[#828282]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>




            </div>

            <div class="w-[356px] lg:w-[340px] pb-[20px] border-b-[1px] border-b-solid border-b-[#000000] md:border-b-0 lg:pb-0 border-opacity-10">
                <div class="w-[356px] h-[154px] lg:w-[340px] lg:h-[216px] rounded-[10px] relative">
                    <img src="../assets/images/unsplash4.svg"
                        class="opacity-90 w-[356px] h-[154px] lg:w-[340px] lg:h-[216px] object-cover rounded-[10px]"
                        alt="">
                    <button
                        class="absolute opacity-100 top-[50%] -translate-y-[50%] -translate-x-[50%] left-[50%] z-10">
                        <i class="fa-solid fa-circle-play text-[48px] lg:text-[36px] text-[#ffffff]"></i>
                    </button>
                </div>

                <div class="pt-[15px]">

                    <p class="semibold text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px] text-[#333333]">UX Design 101</p>

                    <div
                        class="mt-[2px] text-[#828282] font-normal text-[13px] leading-[17.55px] flex flex-row justify-start gap-1 items-baseline">
                        <span>12 Hours &#x2022;</span>&nbsp;
                        <img src="../assets/images/favourite 1.png" class="inline-block" /><span> 4.4</span>
                    </div>

                    <!-- Progress Bar -->
                    <div class="mt-[18px] w-[356px] h-[7px] rounded-[100px] lg:w-[340px] bg-[#3f37c9] bg-opacity-[0.15]">
                        <div class="w-[40%] h-[7px] rounded-[100px] bg-[#3f37c9]">
                        </div>
                    </div>
                    <!-- End of Progress Bar -->

                    <div class="pt-[8px]">
                        <p class="text-[13px] leading-[17.55px] text-[#4f4f4f] semibold">Part 4: Human centered design</p>

                        <p class="max-w-[356px] lg:max-w-[339px] max-h-[44px] overflow-hidden mt-[8px] text-[10px] leading-[13px] regularFont text-[#828282]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>




            </div>

            <div class="w-[356px] lg:w-[340px] pb-[20px] border-b-[1px] border-b-solid border-b-[#000000] md:border-b-0 lg:pb-0 border-opacity-10">
                <div class="w-[356px] h-[154px] lg:w-[340px] lg:h-[216px] rounded-[10px] relative">
                    <img src="../assets/images/unsplash10.svg"
                        class="opacity-90 w-[356px] h-[154px] lg:w-[340px] lg:h-[216px] object-cover rounded-[10px]"
                        alt="">
                    <button
                        class="absolute opacity-100 top-[50%] -translate-y-[50%] -translate-x-[50%] left-[50%] z-10">
                        <i class="fa-solid fa-circle-play text-[48px] lg:text-[36px] text-[#ffffff]"></i>
                    </button>
                </div>

                <div class="pt-[15px]">

                    <p class="semibold text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px] text-[#333333]">UX Design 101</p>

                    <div
                        class="mt-[2px] text-[#828282] font-normal text-[13px] leading-[17.55px] flex flex-row justify-start gap-1 items-baseline">
                        <span>12 Hours &#x2022;</span>&nbsp;
                        <img src="../assets/images/favourite 1.png" class="inline-block" /><span> 4.4</span>
                    </div>

                    <!-- Progress Bar -->
                    <div class="mt-[18px] w-[356px] h-[7px] rounded-[100px] lg:w-[340px] bg-[#3f37c9] bg-opacity-[0.15]">
                        <div class="w-[40%] h-[7px] rounded-[100px] bg-[#3f37c9]">
                        </div>
                    </div>
                    <!-- End of Progress Bar -->

                    <div class="pt-[8px]">
                        <p class="text-[13px] leading-[17.55px] text-[#4f4f4f] semibold">Part 4: Human centered design</p>

                        <p class="max-w-[356px] lg:max-w-[339px] max-h-[44px] overflow-hidden mt-[8px] text-[10px] leading-[13px] regularFont text-[#828282]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>




            </div>

            <div class="w-[356px] lg:w-[340px] pb-[20px] border-b-[1px] border-b-solid border-b-[#000000] md:border-b-0 lg:pb-0 border-opacity-10">
                <div class="w-[356px] h-[154px] lg:w-[340px] lg:h-[216px] rounded-[10px] relative">
                    <img src="../assets/images/unsplash14.svg"
                        class="opacity-90 w-[356px] h-[154px] lg:w-[340px] lg:h-[216px] object-cover rounded-[10px]"
                        alt="">
                    <button
                        class="absolute opacity-100 top-[50%] -translate-y-[50%] -translate-x-[50%] left-[50%] z-10">
                        <i class="fa-solid fa-circle-play text-[48px] lg:text-[36px] text-[#ffffff]"></i>
                    </button>
                </div>

                <div class="pt-[15px]">

                    <p class="semibold text-[15px] leading-[20px] lg:text-[18px] lg:leading-[24px] text-[#333333]">UX Design 101</p>

                    <div
                        class="mt-[2px] text-[#828282] font-normal text-[13px] leading-[17.55px] flex flex-row justify-start gap-1 items-baseline">
                        <span>12 Hours &#x2022;</span>&nbsp;
                        <img src="../assets/images/favourite 1.png" class="inline-block" /><span> 4.4</span>
                    </div>

                    <!-- Progress Bar -->
                    <div class="mt-[18px] w-[356px] h-[7px] rounded-[100px] lg:w-[340px] bg-[#3f37c9] bg-opacity-[0.15]">
                        <div class="w-[40%] h-[7px] rounded-[100px] bg-[#3f37c9]">
                        </div>
                    </div>
                    <!-- End of Progress Bar -->

                    <div class="pt-[8px]">
                        <p class="text-[13px] leading-[17.55px] text-[#4f4f4f] semibold">Part 4: Human centered design</p>

                        <p class="max-w-[356px] lg:max-w-[339px] max-h-[44px] overflow-hidden mt-[8px] text-[10px] leading-[13px] regularFont text-[#828282]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>




            </div>
        </section>
        <!-- End of Courses Content -->
    </main>

</body>

</html>