<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My courses page</title>
    <link href="../assets/css/customCSS.css" rel="stylesheet" />
    <link href="../layouts/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Desktop Header -->
    <div
      class="container mx-auto hidden lg:flex justify-between px-[107px] py-[16px] border-b-[2px] border-[#ebebee] border-solid"
    >
      <ul class="flex">
        <li class="flex">
          <img
            src="../assets/images/logo.svg"
            class="w-[38.5px] h-[38.5px]"
            alt=""
          />
          <p
            class="text-[13.8px] leading-[18px] mt-[14px] ml-[8px] font-bold text-[#494949] tracking-[0.01em]"
          >
            TOPTEEN
          </p>
        </li>

        <li class="flex ml-[36px]">
          <i
            class="fa fa-search mt-[15px] -mr-[32px] text-[#bdbdbd] relative z-[20]"
          ></i>
          <input
            type="text]"
            placeholder=" Careers, colleges, courses..."
            class="h-[48px] w-[300px] rounded-[10px] pl-[36px] bg-[#f7f7fa] border-[1.5px] border-solid border-[#dcdcdc] placeholder-[#bdbdbd] relative z-[10]"
          />
        </li>
      </ul>

      <ul class="flex">
        <li class="flex mr-[30px]">
          <img
            src="../assets/images/discover.svg"
            class="w-[22px] h-[22px] mt-[10px]"
            alt=""
          />
          <p
            class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[4px]"
          >
            Discover
          </p>
        </li>
        <li class="flex mr-[24px]">
          <img
            src="../assets/images/myPlans.svg"
            class="w-[22px] h-[22px] mt-[10px]"
            alt=""
          />
          <p
            class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[8px] text-[#828282]"
          >
            My Plans
          </p>
        </li>
        <li class="flex mr-[24px]">
          <img
            src="../assets/images/learn.svg"
            class="w-[22px] h-[22px] mt-[10px]"
            alt=""
          />
          <p
            class="text-[14px] leading-[19px] font-semibold mt-[12px] ml-[4px] text-[#828282]"
          >
            Learn
          </p>
        </li>
        <li class="mr-[24px]">
          <img src="../assets/images/user.svg" alt="" />
        </li>
        <li
          class="flex h-[40px] w-[89px] rounded-[120px] bg-[#4cc9f0] pt-[9px] pl-[8px]"
        >
          <img src="../assets/images/xp.svg" class="w-[20px] h-[20px]" alt="" />
          <p
            class="text-[12px] leading-[16px] mt-[2px] ml-[4px] text-[#ffffff]"
          >
            1280 XP
          </p>
        </li>
      </ul>
    </div>
    <!-- End of Desktop Header -->

    <!-- below header parts begins -->
    <div class="w-full h-full px-[20px] lg:px-[100px]">
      <div class="h-[32px] w-[145px] mt-[50px]">
        <p class="text-[24px] font-semibold text-[#0F0F0F]">My Courses</p>
      </div>
      <!-- grid part begins -->
      <div
        class="grid grid-cols-1 lg:grid-cols-3  mt-[28px] lg:gap-14 justify-start lg:justify-evenly lg:items-center"
      >
        <!-- grid 1 -->
        <div>
          <!-- <iframe
            class="w-[340px] h-[216px] aspect-video ..."
            src="../assets/images/unsplash_sv8oOQaUb-o.png"
          ></iframe> -->

          <iframe
            class="rounded-2xl"
            width="340"
            height="216"
            src="https://www.youtube.com/embed/lxYikfwyXcQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe> 

          <p
            class="text-[18px] font-semibold w-[127px] h-[24px] text-[#333333] mt-[10px]"
          >
            UX Design 101
          </p>
          <div class="flex justify-start items-center">
            <p class="text-[14px] font-normal text-[#828282]">12 Hours •</p>
            <img class="ml-2" src="../assets/images/favourite 1.png" />
            <p class="ml-1 text-[14px] font-normal text-[#828282]">4.4</p>
          </div>

          <!-- blue line -->
          <div class="w-[340px] h-[7px] mt-5 relative">
            <div
              class="bg-[#3F37C9] w-full h-full rounded-full opacity-[15%] absolute"
            ></div>
            <div class="bg-[#3F37C9] w-[121px] h-full rounded-full"></div>
          </div>
          <div class="w-[198px] h-[18px] mt-[7px]">
            <p class="text-[13px] font-semibold text-[#4F4F4F]">
              Part 4: Human centered design
            </p>
          </div>

          <div class="w-[339px] h-[42px] mt-[8px]">
            <p class="text-[10px] font-normal text-[#828282]">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>

        <!-- grid 2 -->
        <div>
          <!-- <iframe
            class="w-[340px] h-[216px] aspect-video ..."
            src="../assets/images/unsplash_sv8oOQaUb-o (1).png"
          ></iframe> -->
          <iframe
            class="rounded-2xl"
            width="340"
            height="216"
            src="https://www.youtube.com/embed/lxYikfwyXcQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

          <p
            class="text-[18px] font-semibold w-[127px] h-[24px] text-[#333333] mt-[10px]"
          >
            UX Design 101
          </p>
          <div class="flex justify-start items-center">
            <p class="text-[14px] font-normal text-[#828282]">12 Hours •</p>
            <img class="ml-2" src="../assets/images/favourite 1.png" />
            <p class="ml-1 text-[14px] font-normal text-[#828282]">4.4</p>
          </div>

          <!-- blue line -->
          <div class="w-[340px] h-[7px] mt-5 relative">
            <div
              class="bg-[#3F37C9] w-full h-full rounded-full opacity-[15%] absolute"
            ></div>
            <div class="bg-[#3F37C9] w-[121px] h-full rounded-full"></div>
          </div>
          <div class="w-[198px] h-[18px] mt-[7px]">
            <p class="text-[13px] font-semibold text-[#4F4F4F]">
              Part 4: Human centered design
            </p>
          </div>

          <div class="w-[339px] h-[42px] mt-[8px]">
            <p class="text-[10px] font-normal text-[#828282]">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>

        <!-- grid 3 -->
        <div>
          <!-- <iframe
            class="w-[340px] h-[216px] aspect-video ..."
            src="../assets/images/unsplash_Z8UgB80_46w.png"
          ></iframe> -->

          <iframe
            class="rounded-2xl"
            width="340"
            height="216"
            src="https://www.youtube.com/embed/lxYikfwyXcQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

          <p
            class="text-[18px] font-semibold w-[127px] h-[24px] text-[#333333] mt-[10px]"
          >
            UX Design 101
          </p>
          <div class="flex justify-start items-center">
            <p class="text-[14px] font-normal text-[#828282]">12 Hours •</p>
            <img class="ml-2" src="../assets/images/favourite 1.png" />
            <p class="ml-1 text-[14px] font-normal text-[#828282]">4.4</p>
          </div>

          <!-- blue line -->
          <div class="w-[340px] h-[7px] mt-5 relative">
            <div
              class="bg-[#3F37C9] w-full h-full rounded-full opacity-[15%] absolute"
            ></div>
            <div class="bg-[#3F37C9] w-[121px] h-full rounded-full"></div>
          </div>
          <div class="w-[198px] h-[18px] mt-[7px]">
            <p class="text-[13px] font-semibold text-[#4F4F4F]">
              Part 4: Human centered design
            </p>
          </div>

          <div class="w-[339px] h-[42px] mt-[8px]">
            <p class="text-[10px] font-normal text-[#828282]">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>

        <!-- grid 4 -->
        <div>
          <!-- <iframe
            class="w-[340px] h-[216px] aspect-video ..."
            src="../assets/images/unsplash_fkcjWXPRAZU.png"
          ></iframe> -->

          <iframe
            class="rounded-2xl"
            width="340"
            height="216"
            src="https://www.youtube.com/embed/lxYikfwyXcQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p
            class="text-[18px] font-semibold w-[127px] h-[24px] text-[#333333] mt-[10px]"
          >
            UX Design 101
          </p>
          <div class="flex justify-start items-center">
            <p class="text-[14px] font-normal text-[#828282]">12 Hours •</p>
            <img class="ml-2" src="../assets/images/favourite 1.png" />
            <p class="ml-1 text-[14px] font-normal text-[#828282]">4.4</p>
          </div>

          <!-- blue line -->
          <div class="w-[340px] h-[7px] mt-5 relative">
            <div
              class="bg-[#3F37C9] w-full h-full rounded-full opacity-[15%] absolute"
            ></div>
            <div class="bg-[#3F37C9] w-[121px] h-full rounded-full"></div>
          </div>
          <div class="w-[198px] h-[18px] mt-[7px]">
            <p class="text-[13px] font-semibold text-[#4F4F4F]">
              Part 4: Human centered design
            </p>
          </div>

          <div class="w-[339px] h-[42px] mt-[8px]">
            <p class="text-[10px] font-normal text-[#828282]">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
