<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/customCSS.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>My NotePad</title>
</head>
<body>

    <main class="pt-[24px] lg:pt-[50px] lg:max-w-[1280px] mx-auto">

        <!-- Notepad Heading -->
        <section>
            <div class="py-[24px] border-b-[2px] border-solid border-[#ebebee] lg:hidden relative px-[20px] lg:px-[100px] ">
                <p class="text-[16px] leading-[21px] regularFont text-[#0f0f0f] text-center">My Notepad</p>
                <button class="absolute bottom-[18px] right-[24px]">
                    <i class="fa-solid fa-xmark text-[#828282] text-[24px] leading-[50px]"></i>
                </button>
            </div>
      
            <div class="hidden lg:flex justify-between px-[20px] lg:px-[100px] ">
                <p class="text-[24px] leading-[32px] semibold text-[#0f0f0f] my-auto">My Notepad</p>
                <button class="w-[144px] h-[53px] bg-[#2e289d] rounded-[100px] relative my-auto">
                    <div class="w-[144px] flex justify-center items-center gap-[8px] h-[48px] rounded-[100px] bg-[#3f37c9] absolute top-0">
                        <i class="fa-solid fa-plus text-[#ffffff] boldFont text-[14px] leading-[19px]"></i>
                        <p class="text-[#ffffff] text-[14px] leading-[19px] boldFont">New Folder</p>
                    </div>
                </button>
            </div>
        </section>
        <!-- End of Notepad Heading -->

        <section class="pt-[24px] lg:pt-[50px] flex flex-wrap lg:flex-row gap-[15px] lg:gap-x-[30px] lg:gap-y-[20px] px-[20px] lg:pl-[100px] lg:pr-[90px]">

            <div class="bg-[#f7f7fa] rounded-[10px] lg:w-[247px] lg:h-[200px] py-[14px] px-[14px] lg:px-[24px] overflow-hidden">
                <img src="../assets/images/pin.svg" class="w-[24px] h-[34px] object-contain" alt="">
                <p class="text-[14px] leading-[20px] lg:text-[16px] lg:leading-[22px] semibold text-[#494949]">SOP Points</p>
                <p class="mt-[3px] lg:mt-0 text-[10px] leading-[14px] lg:text-[12px] lg:leading-[16px] text-[#bdbdbd]">Yesterday</p>

                <div class="mt-[10px] lg:mt-[7px] lg:max-w-[201px] lg:h-[82px] overflow-hidden lg:mb-[14px]"> 
                    <p class="text-[12px] leading-[16px] regularFont text-[#494949] text-opacity-80 lg:max-w-[201px] lg:max-h-[109px] overflow-x-hidden overflow-y-hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore dicta voluptatum ratione, repudiandae nobis perferendis vitae obcaecati fugit officia qui asperiores hic nostrum voluptatem tempora omnis odit facere suscipit fuga?</p>
                </div>

            </div>

            
            <div class="bg-[#f7f7fa] rounded-[10px] lg:w-[247px] lg:h-[200px] py-[14px] px-[14px] lg:px-[24px] overflow-hidden">
                <img src="../assets/images/pin.svg" class="w-[24px] h-[34px] object-contain" alt="">
                <p class="text-[14px] leading-[20px] lg:text-[16px] lg:leading-[22px] semibold text-[#494949]">SOP Points</p>
                <p class="mt-[3px] lg:mt-0 text-[10px] leading-[14px] lg:text-[12px] lg:leading-[16px] text-[#bdbdbd]">Yesterday</p>

                <div class="mt-[10px] lg:mt-[7px] lg:max-w-[201px] lg:h-[82px] overflow-hidden lg:mb-[14px]"> 
                    <p class="text-[12px] leading-[16px] regularFont text-[#494949] text-opacity-80 lg:max-w-[201px] lg:max-h-[109px] overflow-x-hidden overflow-y-hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore dicta voluptatum ratione, repudiandae nobis perferendis vitae obcaecati fugit officia qui asperiores hic nostrum voluptatem tempora omnis odit facere suscipit fuga?</p>
                </div>

            </div>

            
            <div class="bg-[#f7f7fa] rounded-[10px] lg:w-[247px] lg:h-[200px] py-[14px] px-[14px] lg:px-[24px] overflow-hidden">
                <img src="../assets/images/pin.svg" class="w-[24px] h-[34px] object-contain" alt="">
                <p class="text-[14px] leading-[20px] lg:text-[16px] lg:leading-[22px] semibold text-[#494949]">SOP Points</p>
                <p class="mt-[3px] lg:mt-0 text-[10px] leading-[14px] lg:text-[12px] lg:leading-[16px] text-[#bdbdbd]">Yesterday</p>

                <div class="mt-[10px] lg:mt-[7px] lg:max-w-[201px] lg:h-[82px] overflow-hidden lg:mb-[14px]"> 
                    <p class="text-[12px] leading-[16px] regularFont text-[#494949] text-opacity-80 lg:max-w-[201px] lg:max-h-[109px] overflow-x-hidden overflow-y-hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore dicta voluptatum ratione, repudiandae nobis perferendis vitae obcaecati fugit officia qui asperiores hic nostrum voluptatem tempora omnis odit facere suscipit fuga?</p>
                </div>

            </div>

            
            <div class="bg-[#f7f7fa] rounded-[10px] lg:w-[247px] lg:h-[200px] py-[14px] px-[14px] lg:px-[24px] overflow-hidden">
                <img src="../assets/images/pin.svg" class="w-[24px] h-[34px] object-contain" alt="">
                <p class="text-[14px] leading-[20px] lg:text-[16px] lg:leading-[22px] semibold text-[#494949]">SOP Points</p>
                <p class="mt-[3px] lg:mt-0 text-[10px] leading-[14px] lg:text-[12px] lg:leading-[16px] text-[#bdbdbd]">Yesterday</p>

                <div class="mt-[10px] lg:mt-[7px] lg:max-w-[201px] lg:h-[82px] overflow-hidden lg:mb-[14px]"> 
                    <p class="text-[12px] leading-[16px] regularFont text-[#494949] text-opacity-80 lg:max-w-[201px] lg:max-h-[109px] overflow-x-hidden overflow-y-hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore dicta voluptatum ratione, repudiandae nobis perferendis vitae obcaecati fugit officia qui asperiores hic nostrum voluptatem tempora omnis odit facere suscipit fuga?</p>
                </div>

            </div>

            
            <div class="bg-[#f7f7fa] rounded-[10px] lg:w-[247px] lg:h-[200px] py-[14px] px-[14px] lg:px-[24px] overflow-hidden">
                <img src="../assets/images/pin.svg" class="w-[24px] h-[34px] object-contain" alt="">
                <p class="text-[14px] leading-[20px] lg:text-[16px] lg:leading-[22px] semibold text-[#494949]">SOP Points</p>
                <p class="mt-[3px] lg:mt-0 text-[10px] leading-[14px] lg:text-[12px] lg:leading-[16px] text-[#bdbdbd]">Yesterday</p>

                <div class="mt-[10px] lg:mt-[7px] lg:max-w-[201px] lg:h-[82px] overflow-hidden lg:mb-[14px]"> 
                    <p class="text-[12px] leading-[16px] regularFont text-[#494949] text-opacity-80 lg:max-w-[201px] lg:max-h-[109px] overflow-x-hidden overflow-y-hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore dicta voluptatum ratione, repudiandae nobis perferendis vitae obcaecati fugit officia qui asperiores hic nostrum voluptatem tempora omnis odit facere suscipit fuga?</p>
                </div>

            </div>

            
            <div class="bg-[#f7f7fa] rounded-[10px] lg:w-[247px] lg:h-[200px] py-[14px] px-[14px] lg:px-[24px] overflow-hidden">
                <img src="../assets/images/pin.svg" class="w-[24px] h-[34px] object-contain" alt="">
                <p class="text-[14px] leading-[20px] lg:text-[16px] lg:leading-[22px] semibold text-[#494949]">SOP Points</p>
                <p class="mt-[3px] lg:mt-0 text-[10px] leading-[14px] lg:text-[12px] lg:leading-[16px] text-[#bdbdbd]">Yesterday</p>

                <div class="mt-[10px] lg:mt-[7px] lg:max-w-[201px] lg:h-[82px] overflow-hidden lg:mb-[14px]"> 
                    <p class="text-[12px] leading-[16px] regularFont text-[#494949] text-opacity-80 lg:max-w-[201px] lg:max-h-[109px] overflow-x-hidden overflow-y-hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore dicta voluptatum ratione, repudiandae nobis perferendis vitae obcaecati fugit officia qui asperiores hic nostrum voluptatem tempora omnis odit facere suscipit fuga?</p>
                </div>

            </div>

        </section> 


    </main>

    
</body>
</html>