<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup/hobbies</title>
    <Link href='../assets/css/customCSS.css' rel='stylesheet' />
    <Link href='../layouts/css/styles.css' rel='stylesheet' />
    <script src="https://kit.fontawesome.com/75bd64d95c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class='w-full h-full'>
        <!-- header -->
        <header class='flex justify-between items-center mt-[27px] lg:mt-[35px]  '>
            <img class='h-[15px] w-[15px] ml-[20px] lg:ml-[100px] ' src='../assets/images/arrow.left.png' />
            <div class=' justify-center space-x-1 items-center ml-[30px] lg:ml-[0px] mr-[0px] lg:mr-[120px] flex'>
                <div class='bg-[#4CC9F0] h-[13px] w-[13px] rounded-full'></div>
                <div class='bg-[#4CC9F0] h-[13px] w-[13px] rounded-full '></div>
                <div class='bg-[#4CC9F0] h-[13px] w-[13px] rounded-full '></div>
                <div class='bg-[#4CC9F0] h-[13px] w-[13px] rounded-full '></div>
                <div class='bg-[#4CC9F0] h-[13px] w-[13px] rounded-full '></div>
            </div>
            <!-- <h2 class='text-[#494949] font-bold lg:hidden flex'>LOG IN</h2> -->
            <p class='text-[#3F37C9] flex lg:hidden text-[16px] font-semibold pr-[20px]'>SKIP</p>
            <p class='text-white hidden lg:flex'>1</p>
        </header>
        <!-- second line -->
        <div class='flex justify-center items-center font-semibold text-[24px] mt-[20px] lg:mt-[30px]'>
            <P>What are your hobbies?</P>
        </div>
        <!-- third line -->
        <div class='flex justify-center items-center font-normal text-center text-[16px] mt-[10px]'>
            <P class=' w-[344px] h-[44px] text-[#494949]'>Swipe right for subjects you like and left for subjects you
                dont</P>
        </div>

        <!-- center portion -->
<div class='flex justify-center items-center '>


        <div class='flex  justify-center items-center w-[1005px] h-[285px]  '>
            <!-- left icon -->
            <div class='w-[30px] h-[30px] bg-[#F8F8F8] hidden lg:flex justify-center items-center rounded-full cursor-pointer'>
                <i class="fa-solid fa-angle-left  "></i>
            </div>

            <!-- grid part -->
            <div class='h-full w-full flex justify-center items-center mt-7  ml-4 lg:ml-0'>
                <div class=' w-full h-full lg:w-[804px] lg:h-[285px] justify-center items-center grid grid-cols-1 lg:grid-cols-3 gap-1'>
                    <div class='w-[344px] lg:w-[248px] h-[50px] lg:h-[60px] bg-[#F7F7FA] rounded-[10px] flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/artist.png' />
                            <p class='font-semibold ml-[15px]'>Arts and
                                crafts</p>
                            
                        </div>
                    </div>
                    <div class='w-[344px] lg:w-[248px] h-[50px] lg:h-[60px] mt-2 lg:mt-0 bg-[#F7F7FA] rounded-[10px] flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/music-player.png' />
                            <p class='font-semibold ml-[15px]'>Listening to music</p>
                        </div>
                    </div>
                    <div class='w-[344px] lg:w-[248px] h-[50px] lg:h-[60px]  mt-2 lg:mt-0 bg-[#F7F7FA] rounded-[10px] flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px] '>
                            <img src='../assets/images/gamepad.png' />
                            <p class='font-semibold ml-[15px]'>Playing video games</p>
                        </div>
                    </div>
                    <div class='w-[344px] lg:w-[248px] h-[50px] lg:h-[60px]  mt-2 lg:mt-0 bg-[#F7F7FA] rounded-[10px] flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/artist.png' />
                            <p class='font-semibold ml-[15px]'>Arts and
                                crafts</p>
                        </div>
                    </div>
                    <div class='w-[344px] lg:w-[248px] h-[50px] lg:h-[60px] mt-2 lg:mt-0 bg-[#F7F7FA] rounded-[10px] flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/artist.png' />
                            <p class='font-semibold ml-[15px]'>Arts and
                                crafts</p>
                        </div>
                    </div>
                    <div class='w-[344px] lg:w-[248px] h-[50px] lg:h-[60px] mt-2 lg:mt-0 bg-[#F7F7FA] rounded-[10px] flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/music-player.png' />
                            <p class='font-semibold ml-[15px]'>Listening to music</p>
                        </div>
                    </div>
                    <div class='w-[248px] h-[60px] bg-[#F7F7FA] rounded-[10px] hidden lg:flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/artist.png' />
                            <p class='font-semibold ml-[15px]'>Arts and
                                crafts</p>
                        </div>
                    </div>
                    <div class='w-[248px] h-[60px] bg-[#F7F7FA] rounded-[10px] hidden lg:flex  justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/gamepad.png' />
                            <p class='font-semibold ml-[15px]'>Playing video games</p>
                        </div>
                    </div>
                    <div class='w-[248px] h-[60px] bg-[#F7F7FA] rounded-[10px] hidden lg:flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/artist.png' />
                            <p class='font-semibold ml-[15px]'>Arts and
                                crafts</p>
                        </div>
                    </div>
                    <div class='w-[248px] h-[60px] bg-[#F7F7FA] rounded-[10px] hidden lg:flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/gamepad.png' />
                            <p class='font-semibold ml-[15px]'>Playing video games</p>
                        </div>
                    </div>
                    <div class='w-[248px] h-[60px] bg-[#F7F7FA] rounded-[10px] hidden lg:flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px] '>
                            <img src='../assets/images/football-ball.png' />
                            <p class='font-semibold ml-[15px]'>Playing sports</p>
                        </div>
                    </div>
                    <div class='w-[248px] h-[60px] bg-[#F7F7FA] rounded-[10px] hidden lg:flex justify-start items-center'>
                        <div class='flex justify-center items-center ml-[18px]'>
                            <img src='../assets/images/artist.png' />
                            <p class='font-semibold ml-[15px]'>Arts and
                                crafts</p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- right icon -->
            <div class='w-[30px] h-[30px] bg-[#F8F8F8] hidden lg:flex justify-center items-center rounded-full  cursor-pointer '>
                <i class="fa-solid fa-angle-right  "></i>
            </div>

        </div>


    </div>








        <!-- button -->
        <div class='w-full flex justify-center items-center mt-[95px] lg:mt-[50px] '>
            <button class='w-[344px] h-[48px] bg-[#3F37C9] rounded-xl text-white font-bold'>FINISH</button>
        </div>

        <!-- footer -->
    </div>

    <div
        class='h-[50px]  flex flex-col bg-[#F9F9F9] lg:hidden justify-center items-center border-t-[1px] border-gray-500 mt-7'>
        <div class='flex justify-center items-center space-x-[3px]'>
            <P>topteen.com</P>
            <img src='../assets/images/trust.png' />
        </div>
        <div class='bg-[#4B4B4B] h-[5px] w-[139px] rounded-full mt-[5px] mb-[8px]'></div>
    </div>


</body>

</html>