  <div class="chapterPage aptitude-tier aptitude-tier--above">
    <div class="db-header" style="margin-top: 28px; text-align: center;">
      <h1 style="color: #3F37C9; margin-bottom: 5px;">Best Suited Careers and Subjects for your Reasoning type</h1>
    </div>
    <!-- NUMERICAL Above Average -->
    <div style="width: 900px; float: left; margin: 0 auto;">
      {% if 'NUMERICAL' in intelligence_data.above_avg %}
      <div class="text-color-top" style="display: flex; justify-content: center;">
        <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0; text-align: center;">
          Numerical Reasoning <span class="tier-badge"> (Above Average) </span>
        </div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 10px; margin-bottom: 15px; font-size: 16px;">Suitable careers</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Finance and Accounting</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Engineering</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Data Science and Analytics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Economics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• IT and Programming</strong></div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Suitable Subject combinations</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Mathematics and Physics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Statistics and Economics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Computer Science and Calculus</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Engineering and Business Mathematics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Finance and Accounting</strong></div>
      </div>
      <div class="two-box" style="margin-top: 20px; width:900px; margin: 0px auto; float: left;">
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/pcm-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">PCM</h5>
        </div>
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/cwm-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">CWM</h5>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- VERBAL Above Average -->
    <div style="width: 900px; float: left; margin: 0 auto; clear: both;">
      {% if 'VERBAL' in intelligence_data.above_avg %}
      <div class="text-color-top" style="display: flex; justify-content: center;">
        <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; text-align: center; border-radius: 10px 10px 0 0;">
          Verbal Reasoning <span class="tier-badge"> (Above Average) </span>
        </div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 10px; margin-bottom: 15px; font-size: 16px;">Suitable careers</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Law and Legal Services</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Education</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Journalism and Writing</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Public Relations and Communications</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Human Resources</strong></div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Suitable Subject combinations</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• English Literature and History</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Communications and Political Science</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Foreign Language and Sociology</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E">• Creative Writing and Philosophy</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Linguistics and Education</strong></div>
      </div>
      <div class="two-box" style="margin-top: 20px; width:900px; margin: 0px auto; float: left; clear: both;">
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA;border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/hum-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">HUM</h5>
        </div>
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA; border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/cwm-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">CWOM</h5>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- LOGICAL Above Average -->
    <div style="width: 900px; float: left; margin: 0 auto; clear: both;">
      {% if 'LOGICAL' in intelligence_data.above_avg %}
      <div class="text-color-top" style="display: flex; justify-content: center;">
        <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; text-align: center; border-radius: 10px 10px 0 0;">
          Logical Reasoning <span class="tier-badge"> (Above Average) </span>
        </div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 10px; margin-bottom: 15px; font-size: 16px;">Suitable careers</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Computer Science and IT</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Engineering</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Research and Development</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Mathematics and Statistics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Consulting</strong></div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Suitable Subject combinations</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Mathematics and Computer Science</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Philosophy and Physics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Statistics and Economics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E">• Engineering and Algorithms</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Logic and Artificial Intelligence</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Health Science</strong></div>
      </div>
      <div class="two-box" style="margin-top: 20px; width:900px; margin: 0px auto; float: left;">
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA;border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/pcm-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">PCM</h5>
        </div>
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA; border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/pcb-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">PCB</h5>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- MECHANICAL Above Average -->
    <div style="width: 900px; float: left; margin: 0 auto; clear: both;">
      {% if 'MECHANICAL' in intelligence_data.above_avg %}
      <div class="text-color-top" style="display: flex; justify-content: center;">
        <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; text-align: center; border-radius: 10px 10px 0 0;">
          Mechanical Reasoning <span class="tier-badge"> (Above Average) </span>
        </div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 900; margin-top: 10px; margin-bottom: 15px; font-size: 16px;">Suitable careers</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Engineering</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Construction and Trades</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Manufacturing</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Automotive</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Aviation</strong></div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Suitable Subject combinations</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Mechanical Engineering and Physics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Auto Mechanics and Industrial Technology</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Robotics and Electrical Engineering</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• CAD (Computer-Aided Design) and Architecture</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Manufacturing Technology and Mechatronics</strong></div>
      </div>
      <div class="two-box" style="margin-top: 20px; width:900px; margin: 0px auto; float: left;">
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA;border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/pcm-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">PCM</h5>
        </div>
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA; border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/computer-sci-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">Computer Science</h5>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- SPATIAL Above Average -->
    <div style="width: 900px; float: left; margin: 0 auto; clear: both;">
      {% if 'SPATIAL' in intelligence_data.above_avg %}
      <div class="text-color-top" style="display: flex; justify-content: center;">
        <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; text-align: center; border-radius: 10px 10px 0 0;">
          Spatial Reasoning <span class="tier-badge"> (Above Average) </span>
        </div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 10px; margin-bottom: 15px; font-size: 16px;">Suitable careers</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Architecture and Design</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Engineering</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Creative Arts</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Urban Planning</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Geography and Cartography</strong></div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Suitable Subject combinations</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Architecture and Graphic Design</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Engineering and CAD</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Art and Urban Planning</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E">• Geography and Cartography</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Interior Design and 3D Modeling</strong></div>
      </div>
      <div class="two-box" style="margin-top: 20px; width:900px; margin: 0px auto; float: left;">
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA;border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/pcm-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">PCM</h5>
        </div>
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA; border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/fine-art-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">Fine Arts</h5>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- LANGUAGE Above Average -->
    <div style="width: 900px; float: left; margin: 0 auto; clear: both;">
      {% if 'LANGUAGE' in intelligence_data.above_avg %}
      <div class="text-color-top" style="display: flex; justify-content: center;">
        <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;text-align: center;">
          Language Usage and Spelling <span class="tier-badge"> (Above Average) </span>
        </div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 10px; margin-bottom: 15px; font-size: 16px;">Suitable careers</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Editing and Proofreading</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Content Writing</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Translation</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Publishing</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Teaching and Linguistics</strong></div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Suitable Subject combinations</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• English and Literature</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Languages and Communications</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Journalism and Political Science</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Creative Writing and Education</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Linguistics and Sociology</strong></div>
      </div>
      <div class="two-box" style="margin-top: 20px; width:900px; margin: 0px auto; float: left;">
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA; border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/hum-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">HUM</h5>
        </div>
        <div class="tier-two-box-in two-box-in" style="height: 90px; flex-direction: row; background: #F0FFEA; border-right: 3px solid #2A740E; border-bottom: 3px solid #2A740E;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/cwm-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">CWM</h5>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- CRITICAL Above Average -->
    <div class="ct-resultbox" style="width: 900px; float: left; margin: 0 auto; clear: both;">
      {% if 'CRITICAL' in intelligence_data.above_avg %}
      <div class="text-color-top" style="display: flex; justify-content: center;">
        <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;text-align: center;">
          Critical Reasoning <span class="tier-badge"> (Above Average) </span>
        </div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 10px; margin-bottom: 15px; font-size: 16px;">Suitable careers</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Lawyer or Paralegal</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Journalist or Reporter</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Psychologist</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Business analyst</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Consultant</strong></div>
      </div>
      <div class="test-title" style="color: #2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Suitable Subject combinations</div>
      <div style="width:100%; float: left; background: #F0FFEA; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;" class="tier-panel">
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Psychology and Human Services</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Social Law and Business Studies</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Mathematics and Physics</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Economics and Political Science</strong></div>
        <div style="width:100%; float: left; margin: 5px 0; font-size: 14px;"><strong style="color: #2A740E;">• Human Sociology and Anthropology</strong></div>
      </div>
      <div class="two-box" style="margin-top: 20px; width:900px; margin: 0px auto; float: left;">
        <div class="two-box-in" style="height: 90px; flex-direction: row;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/hum-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">HUM</h5>
        </div>
        <div class="two-box-in" style="height: 90px; flex-direction: row;">
          <div class="img-tow" style="margin-top: 0;"><img style="width:58px; margin-right: 10px;" src="{{ static('images/pcm-icon.png') }}" alt="img"></div>
          <h5 style="color: #000;font-size: 14px;margin-bottom: 0px;margin-top: 0px;">PCM</h5>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
