<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preload stylesheet" href="{{ static('font/font-style.css') }}">
  <title>Stream Sorter Assessment Report - Interest</title>
  <style>
    /* Browser preview styles - header visible */
    .page-header {
      width: 675px;
      padding: 0.3cm 0 0 0;
      position: relative;
      display: block;
      margin-bottom: 1cm;
    }
    
    .page-header-content {
      display: flex;
      align-items: center;
      margin-bottom: 0.3cm;
    }
    
    .page-header-content img {
      width: 40px;
      height: auto;
    }
    
    .page-header-content .logo-text {
      font-size: 18px;
      font-weight: bold;
      color: #494949;
      font-family: 'Galano Grotesque';
      text-transform: uppercase;
      margin-left: 10px;
    }
    
    .page-header-line {
      width: 100%;
      height: 0;
      border: 0;
      border-top: 1px solid #494949;
      margin: 0;
      padding: 0;
      display: block;
      box-sizing: border-box;
    }
    
    /* PDF-specific: Use running header for page headers */
    @page {
      @top-left {
        content: element(page-header);
      }
      margin-top: 2.5cm;
    }
    
    /* For PDF generation, make header a running element */
    @media print {
      .page-header {
        position: running(page-header);
        margin-bottom: 0;
        padding: 0.3cm 0 0 0;
      }
      .page-header-line {
        width: 100%;
        box-sizing: border-box;
      }
    }
    
    body {
      margin: 0;
      padding: 0;
      color: #494949;
      font-family: 'Galano Grotesque';
      font-size: 10pt;
      counter-reset: chapters;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
    ul { list-style-type: none; padding: 0; }
    li { margin-bottom: 5px; }
    div { margin-bottom: 10px; }
    a { color: inherit; text-decoration: none; }
    hr { height: 0; border: 0; border-top: 1px solid #494949; margin: 10px 0 10px 0; }
    .coverPage, .chapterPage { page-break-after: always; }
    .coverPage { margin: .5cm; }
    .coverPage h1 { margin-top: 0.23cm; font-size: 35px; color: #3F37C9; }
    .top-info { display: flex; }
    .info-box { border: 1px solid #3F37C9; width: 100%; display: flex; margin-bottom: 26px; border-radius: 5px; }
    .top-info .info-box:last-child { margin-left: 26px; }
    .dt-i-info { background: #3F37C9; width: 2cm; font-size: 16px; font-weight: 600; padding: 10px 0 13px 20px; display: flex; align-items: center; border-radius: 4px; }
    .top-info .info-box:first-child { margin-right: 26px; }
    .output { display: flex; align-items: center; }
    .output p { font-size: 14px; color: #494949; font-weight: 500; display: flex; justify-content: center; line-height: 19px; margin-bottom: 0px; padding-left: 11px; }
    h4 { font-size: 10pt; margin: 0; }
    p { margin-top: 0; color: #494949; }
    .intro-box p { font-size: 16px; }
    table { width: 100%; border-collapse: collapse; }
    th, td { padding: 4px; text-align: left; outline: 0px; }
    th { background-color: #f2f2f2; }
    .text-info-paragraph p { font-size: 16px; }
    .box-info { background: #E7E5FF; border-radius: 10px; border-right: 4px solid #3F37C9; border-bottom: 4px solid #3F37C9; width: 180px; margin: 10px; float: left; }
    .box-info .img { text-align: center; margin-top: 20px; }
    .box-info h5 { font-size: 14px; text-align: center; color: #000; margin-bottom: 11px; }
    .box-i { width: 250px; height: 150px; display: flex; justify-content: center; flex-direction: column; align-items: center; }
    .two-box { display: flex; justify-content: center; margin: 32px 0; }
    .two-box-in { width: 210px; height: 138px; display: flex; justify-content: center; flex-direction: column; background: #E7E5FF; grid-gap: 1rem; align-items: center; text-align: center; margin: 0 9px; padding: 3px 7px; border-radius: 10px; border-right: 3px solid #3F37CB; border-bottom: 3px solid #3F37C9; }
    .two-box-in p { list-style: none; padding: 0; margin: 5px 0 0 0; }
    .img-tow { margin-top: 0; }
    .cat-box { display: flex; flex-direction: column; justify-content: center; margin-bottom: 31px; }
    .cat-head { display: flex; justify-content: center; align-items: center; flex-direction: column; background: #3F37C9; border-radius: 7px 7px 0 0; padding: 13px 0; color: #fff; }
    .cat-head h4 { font-size: 16px; width:600px; margin: 0px; }
    .cat-list { padding:6px; margin-top:0px; background: #F7F6FF; }
    .cat-list ul { column-count:3; list-style: none; padding: 0; }
    .cat-list ul li { list-style: none; padding: 0; margin: 0; }
    .chapterPage h1 { margin-top: 1cm; text-transform: uppercase; }
    .disclaimer-heading { width: 120px; text-align: center; margin-bottom: 13px; }
    .text-color-top { display: flex; justify-content: center; }
    .top-layout { background: #3F37C9; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 28px; font-weight: 600; border-radius: 10px 10px 0 0; }
    .db-header { margin-top: 10px; text-align: center; }
    .db-header h1 { color: #3F37C9; font-size: 24pt; margin: 0 0 10px 0; }
    .test-title { color:#000; font-size:16px; font-weight: 600; margin-top: 10px; }
    .img-info { width: 100%; text-align: center; margin-top:30px; }
    .boxthree { margin: 20px 0 40px 0; float:left; width: 100%; }
    .graph { width:100%; text-align: center; margin-top: 40px; float: left; }
  </style>
</head>
<body>
  <div class="page-header">
    <div class="page-header-content">
      <img style="width: 90px;" src="{{ static('images/logo.png') }}" alt="TOPTEEN Logo" />
    </div>
    <hr class="page-header-line" />
  </div>
  <div class="coverPage">
    <div class="img-top" style="width: 100%; text-align: center;">
      <img style="width: 200px;" src="{{ static('images/logo.png') }}" alt="logo" />
    </div>
    <div class="heading-cover" style="width: 100%; text-align: center;">
      <h1 style="font-family: 'Galano Grotesque'; margin-top: 0.23cm; font-size: 35px; color: #3F37C9;">Stream Sorter Assessment Report</h1>
    </div>
    <div class="image-cover" style="width: 100%; text-align: center;">
      <img style="width: 320px;" src="{{ static('images/report-image.png') }}" alt="img" />
    </div>

    {% if user_profile %}
    <div class="student-detail-info" style="width:650px; margin-bottom:30px;">
      <div class="top-info">
        <div class="info-box">
          <div class="dt-i-info" style="color:#fff; margin-bottom: 0px;"> Name </div>
          <div class="output" style="margin-bottom: 0px;">
            <p>{{ student_name }}</p>
          </div>
        </div>
        <div class="info-box">
          <div class="dt-i-info" style="color:#fff; width: 125px;margin-bottom: 0px;">School</div>
          <div class="output">
            <p>{{ user_profile.schoolname if user_profile.schoolname else '' }}</p>
          </div>
        </div>
      </div>
      <div class="top-info">
        <div class="info-box">
          <div class="dt-i-info" style="color:#fff; margin-bottom: 0px;"> Grade</div>
          <div class="output" style="margin-bottom: 0px;">
            <p>{{ user_profile.grade if user_profile.grade else '' }}</p>
          </div>
        </div>
        <div class="info-box" style="margin-bottom: 0px;">
          <div class="dt-i-info" style="width: 3cm;color:#fff; margin-bottom: 0px;"> Date of Test </div>
          <div class="output">
            <p>{{ created_date.strftime('%Y-%m-%d') if created_date else now.strftime('%Y-%m-%d') }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div style="width:100%; margin-top: 40px; float: left;">
      <table style="width:100%; margin-top: 20px;">
        <tbody>
          <tr style="border: 1px solid #3F37CB; border-radius: 10px;">
            <td>
              <div class="disclaimer-heading" style="width:100%; text-align: center; color: #3F37CB; text-align: center; margin-top: -19px;">
                <p style="background-color: #3F37CB; padding:2px; color: #fff; font-size: 12px; border-radius: 5px 5px 0 0; text-align: center; width:150px; margin: 0px auto;">Disclaimer</p>
              </div>
              <p style="width:100%; text-align: center;">The results of this assessment are based on the responses given by the individual on the self report questionnaire and are subject to change based on multiple factors.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="chapterPage">
    <div class="db-header" style="margin-top: 16px; text-align: center;">
      <h1 style="color: #3F37C9;">INTRODUCTION</h1>
    </div>
    <table>
      <tbody>
        <tr style="background: #E7FEFF;">
          <td>
            <div class="intro-box" style="background: #E7FEFF; padding: 18px;">
              <p style="font-family: 'Galano Grotesque';">Selecting the right academic stream is a significant milestone in a student's educational journey. It's like choosing a path in a vast, exciting forest where each trail leads to unique adventures and destinations. This decision lays the foundation for future career prospects and academic pursuits, making it crucial for students to carefully evaluate their options.</p>
              <p style="font-family: 'Galano Grotesque';">Imagine standing at a crossroads with a map in hand, each route offering a glimpse into different worlds—science teeming with discoveries, commerce bustling with business acumen, and humanities rich with cultural insights. This pivotal choice is not just about subjects and exams; it's about uncovering your passions, unlocking potential, and setting the stage for your future. Whether you dream of becoming an engineer, an entrepreneur, or an artist, the right stream can be the launch pad to your aspirations, turning your academic journey into an exhilarating quest for knowledge and success.</p>
              <p style="font-family: 'Galano Grotesque';">The Stream Sorter Assessment Test aims to guide students in this decision by evaluating three key aspects: <strong>Interest, Personality, and Intelligence</strong>. These elements are essential in identifying the most suitable academic path for each individual.</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="img-info">
      <img style="width:500px" src="{{ static('images/student-sitting.png') }}" alt="Student" />
    </div>
  </div>

  <div class="chapterPage">
    <div class="db-header" style="margin-top: 10px; text-align: center;">
      <h1 style="color: #3F37C9;">HOW TO USE THIS REPORT</h1>
    </div>
    <div class="text-info-paragraph">
      <p>This test typically consists of a series of questions in 3 parts that evaluate various aspects of a student's <strong>Personality, Interest and Intelligence</strong> and it helps you decide the suggested stream to consider in your high school.</p>
    </div>
    <div class="boxthree">
      <div class="box-info" style="text-align: center;">
        <div class="img"> <img style="width:50px;" src="{{ static('images/personality-icon.png') }}" alt="img" /> </div>
        <h5>Personality</h5>
      </div>
      <div class="box-info" style="text-align: center;">
        <div class="img"> <img style="width:50px;" src="{{ static('images/interest-icon.png') }}" alt="img" /> </div>
        <h5>Interest</h5>
      </div>
      <div class="box-info" style="text-align: center;">
        <div class="img"> <img style="width:50px;" src="{{ static('images/intelligence-icon.png') }}" alt="img" /> </div>
        <h5>Intelligence</h5>
      </div>
    </div>
    <table style="margin-bottom: 30px; margin-top:25px;">
      <thead>
        <tr>
          <th style="background: #E7E5FF; color:#2720A7; padding: 21px 0 21px 14px; border-top-left-radius: 15px;">Part</th>
          <th style="background: #E7E5FF; color:#2720A7; padding: 21px 3px; border-top-right-radius: 15px;">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border:1px solid #9490dd;">
          <td style="width: 200px; padding-left:14px; color: #000; font-weight: 700;">Part 1- Personality Assessment</td>
          <td style="padding-top:10px; padding-bottom: 10px; color: #000; font-weight: 500; font-size: 16px;"><span style="color:#2720A7;">Personality</span> encompasses the traits and characteristics that define how you interact with the world and approach tasks</td>
        </tr>
        <tr style="border:1px solid #9490dd;">
          <td style="padding-left:14px; color: #000; font-weight: 700;">Part 2- Career Interest Inventory</td>
          <td style="padding-top:10px; padding-bottom: 10px; color: #000; font-weight: 500; font-size: 16px;"><span style="color:#2720A7;">Interest</span> refers to the subjects and activities that naturally engage and excite you</td>
        </tr>
        <tr style="border:1px solid #9490dd;">
          <td style="width: 200px; padding-left:14px; color: #000; font-weight: 700;">Part 3- Intelligence Assessment</td>
          <td style="padding-top:10px; padding-bottom: 10px; color: #000; font-weight: 500; font-size: 16px;"><span style="color:#2720A7;">Intelligence</span> refers to your cognitive abilities, including logical reasoning, problem-solving skills, and understanding of complex concepts</td>
        </tr>
      </tbody>
    </table>
    <div class="text-info-paragraph">
      <p>This comprehensive report ensures that you make informed decision about your academic path, leading to more successful and fulfilling career.</p>
    </div>
  </div>

  <div class="chapterPage">
    <div class="text-color-top">
      <div class="top-layout" style="font-size: 16px;">Part -2</div>
    </div>
    <div class="db-header" style="margin-top: 5px;">
      <h1 style="color: #3F37C9; margin:0px;">CAREER INTEREST INVENTORY REPORT</h1>
    </div>
    <div class="text-info-paragraph">
      <p>This report aims to provide you with insights into your career interests using the RIASEC framework. Each section describes a trait and highlights the strong points associated with it, helping you understand your potential strengths and suitable career paths. This report is based on the Career Interest Inventory, which helps identify your dominant traits, career interests, preferences, and potential paths</p>
    </div>

    <div class="test-title" style="color:#000; font-size:16px; font-weight: 600; margin-top: 5px; width:600px;">
      Your Dominant Interest area is:
    </div>

    {% if max_length %}
    {% if 'R' in max_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #057190; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 5px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Realistic (R)
      </div>
    </div>
    <div class="test-title" style="color:#057190; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Strong Points:</div>
    <div style="width:100%; float: left; background:#C9EDF8; border: 1px solid #057190; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Practical Skills:</strong> You excel at hands-on tasks, including working with machinery, tools, and materials.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Mechanical Aptitude:</strong> You have a natural ability to understand and operate mechanical systems and tools.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#057190;">• Physical Strength:</strong> You possess physical endurance and strength, beneficial for manual labor and outdoor activities.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Problem-Solving:</strong> You are skilled at troubleshooting and fixing practical issues, often in technical or mechanical fields.</div>
      <div style="width:100%; float: left; margin:2px 0; font-size: 14px;"><strong style="color: #057190;">• Independence:</strong> You prefer working independently or with minimal supervision, often thriving in environments that require self-reliance.</div>
    </div>
    <div class="test-title" style="color:#057190; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Choose:</div>
    <div style="width:100%; float: left; background: #C9EDF8; border: 1px solid #057190; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Mechanical Engineering</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#057190;">• Construction Management</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Aviation (Pilots)</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190">• Surveying and Mapping</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Skilled Trades</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Industrial Engineering</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Automotive Engineering</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Environmental Health and Safety Specialist</strong></div>
    </div>
    {% elif 'I' in max_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #A92CAF; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Investigative (I)
      </div>
    </div>
    <div class="test-title" style="color:#A92CAF; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Strong Points:</div>
    <div style="width:100%; float: left; background:#FEECFF; border: 1px solid #A92CAF; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Analytical Skills:</strong> You are adept at analyzing data, identifying patterns, and solving complex problems.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Curiosity:</strong> You have a strong desire to understand how things work, driving you to explore, research, and learn.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#A92CAF;">• Critical Thinking:</strong> You are capable of evaluating situations and information critically, often leading to innovative solutions.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Attention to Detail:</strong> You notice minute details, which is crucial in scientific research and data analysis.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Intellectual Pursuits:</strong> You enjoy intellectual challenges and pursuits, often excelling in academic and research settings.</div>
    </div>
    <div class="test-title" style="color:#A92CAF; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Choose:</div>
    <div style="width:100%; float: left; background: #FEECFF; border: 1px solid #A92CAF; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Research and Development</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Data Science and Analytics</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF">• Biotechnology and Life Sciences</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Software Engineering</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Forensic Science</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Medical Research</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Environmental Science</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Epidemiology</strong></div>
    </div>
    {% elif 'A' in max_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Artistic (A)
      </div>
    </div>
    <div class="test-title" style="color:#2A740E; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Strong Points:</div>
    <div style="width:100%; float: left; background:#EDFFE7; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Creativity:</strong> You are highly creative and excel in expressing yourself through various art forms.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Originality:</strong> You have a unique perspective and can generate original ideas and concepts.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#2A740E;">• Aesthetic Sensibility:</strong> You possess a keen sense of aesthetics, which helps you create visually appealing work.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Imagination:</strong> Your vivid imagination allows you to envision and create innovative works of art, literature, music, etc.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Flexibility:</strong> You are comfortable with ambiguity and open to exploring different methods and styles in your creative processes.</div>
    </div>
    <div class="test-title" style="color:#2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Choose:</div>
    <div style="width:100%; float: left; background: #EDFFE7; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Graphic Design</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#2A740E;">• Writing and Publishing</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Music and Performing Arts</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E">• Film and Media Production</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E">• Art Direction</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E">• Animation</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E">• Interior Design</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Fashion Design</strong></div>
    </div>
    {% elif 'S' in max_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #6D5C04; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Social (S)
      </div>
    </div>
    <div class="test-title" style="color:#6D5C04; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Strong Points:</div>
    <div style="width:100%; float: left; background:#FFFAE2; border: 1px solid #6D5C04; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Interpersonal Skills:</strong>You have strong communication and interpersonal skills, making you effective in building relationships.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Empathy:</strong> You possess a high degree of empathy, enabling you to understand and respond to the needs of others.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#6D5C04;">• Teamwork:</strong> You excel in collaborative environments and are often a team player who contributes positively to group dynamics.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Teaching and Mentoring:</strong> You are skilled at educating, mentoring, and supporting others in their personal or professional growth.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Conflict Resolution:</strong> You are capable of mediating conflicts and facilitating harmonious interactions among individuals or groups.</div>
    </div>
    <div class="test-title" style="color:#6D5C04; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Choose:</div>
    <div style="width:100%; float: left; background: #FFFAE2; border: 1px solid #6D5C04; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Counseling and Therapy</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#6D5C04;">• Education and Teaching</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Healthcare (e.g., Nursing, Physician Assistant)</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04">• Social Services</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Human Resources</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Occupational Therapy</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Public Relations</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Nonprofit Management</strong></div>
    </div>
    {% elif 'E' in max_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #A22717; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Enterprising (E)
      </div>
    </div>
    <div class="test-title" style="color:#A22717; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Strong Points:</div>
    <div style="width:100%; float: left; background:#FFFAE2; border: 1px solid #A22717; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Leadership:</strong>You are a natural leader who excels at motivating and guiding others.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Persuasion:</strong> You are persuasive and can effectively influence and convince others.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#A22717;">• Ambition:</strong> You are highly driven and ambitious, often seeking out new opportunities and challenges.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Risk-Taking:</strong> You are willing to take calculated risks, which can lead to significant rewards in entrepreneurial ventures.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Decision-Making:</strong> You are decisive and capable of making strategic decisions, often under pressure.</div>
    </div>
    <div class="test-title" style="color:#A22717; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Choose:</div>
    <div style="width:100%; float: left; background: #FFFAE2; border: 1px solid #A22717; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Entrepreneurship</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#A22717;">• Marketing and Sales</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Real Estate</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717">• Business Consulting</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Executive Leadership</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Management Consulting</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Venture Capital</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Investment Banking</strong></div>
    </div>
    {% elif 'C' in max_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #0B5BA1; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Conventional (C)
      </div>
    </div>
    <div class="test-title" style="color:#0B5BA1; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Strong Points:</div>
    <div style="width:100%; float: left; background:#EBF6FF; border: 1px solid #0B5BA1; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Organizational Skills:</strong> You are highly organized and excel at managing details and maintaining order.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Attention to Detail:</strong> You have a meticulous approach to tasks, ensuring accuracy and precision.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#0B5BA1;">• Dependability:</strong> You are known for your reliability and consistency in completing tasks and meeting deadlines.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Administrative Skills:</strong> You are skilled in administrative tasks, including data entry, record-keeping, and managing schedules.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Preference for Structure:</strong> You thrive in structured environments with clear rules and procedures, ensuring efficiency and predictability.</div>
    </div>
    <div class="test-title" style="color:#0B5BA1; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Choose:</div>
    <div style="width:100%; float: left; background: #EBF6FF; border: 1px solid #0B5BA1; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Accounting and Finance</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#0B5BA1;">• Administrative and Office Management</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Data Analysis</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1">• Project Management</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Banking and Financial Services</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Compliance and Risk Management</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Supply Chain Management</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Investment Analysis</strong></div>
    </div>
    {% endif %}
    {% endif %}
  </div>

  {% if min_length %}
  <div class="chapterPage">
    <div class="test-title" style="color:#000; font-size:16px; font-weight: 600; margin-top: 5px;">
      Your Lowest Interest Area:
    </div>
    {% if 'R' in min_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #057190; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 5px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Realistic (R)
      </div>
    </div>
    <div class="test-title" style="color:#057190; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Lowest Points:</div>
    <div style="width:100%; float: left; background:#C9EDF8; border: 1px solid #057190; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Disinterest in Manual Tasks:</strong> You may find hands-on tasks with tools or machinery uninteresting or challenging.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Lack of Mechanical Aptitude:</strong> Operating and understanding mechanical systems might not be your strong suit.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#057190;">• Limited Physical Endurance:</strong> You may not enjoy or excel in roles that require significant physical strength or outdoor activities.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Avoidance of Physical Problem-Solving:</strong> You might prefer to avoid practical, hands-on problem-solving tasks.</div>
      <div style="width:100%; float: left; margin:2px 0; font-size: 14px;"><strong style="color: #057190;">• Preference for Collaborative Work:</strong> You may prefer working in teams rather than independently or with minimal supervision.</div>
    </div>
    <div class="test-title" style="color:#057190; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Avoid:</div>
    <div style="width:100%; float: left; background: #C9EDF8; border: 1px solid #057190; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Construction Industry</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#057190;">• Mechanical Trades</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Electrical Engineering</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190">• Environmental and Outdoor Work</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #057190;">• Agricultural Sector</strong></div>
    </div>
    {% elif 'I' in min_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #A92CAF; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Investigative (I)
      </div>
    </div>
    <div class="test-title" style="color:#A92CAF; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Lowest Points:</div>
    <div style="width:100%; float: left; background:#FEECFF; border: 1px solid #A92CAF; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Disinterest in Data Analysis:</strong> You may not enjoy analyzing data or identifying patterns.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Lack of Curiosity in Sciences:</strong> You might not be inclined to explore, research, or understand complex scientific concepts.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#A92CAF;">• Limited Critical Thinking:</strong> Evaluating situations and information critically may not be your preference.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Inattention to Detail:</strong> You might overlook minute details that are crucial in scientific research or data analysis.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Avoidance of Intellectual Pursuits:</strong> You may prefer practical tasks over intellectual challenges.</div>
    </div>
    <div class="test-title" style="color:#A92CAF; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Avoid:</div>
    <div style="width:100%; float: left; background: #FEECFF; border: 1px solid #A92CAF; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Scientific Research</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#A92CAF;">• Academic Research</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Laboratory Technician</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF">• Data Analysis and Data Science</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A92CAF;">• Engineering and Technical Analysis</strong></div>
    </div>
    {% elif 'A' in min_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #2A740E; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Artistic (A)
      </div>
    </div>
    <div class="test-title" style="color:#2A740E; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Lowest Points:</div>
    <div style="width:100%; float: left; background:#EDFFE7; border: 1px solid #2A740E; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Limited Creativity:</strong>You may not enjoy or excel in expressing yourself creatively.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Lack of Originality:</strong> Generating unique ideas and concepts might not be your strong suit.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#2A740E;">• Disinterest in Aesthetics:</strong> You may not have a keen sense of aesthetics or visual design.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Lack of Imagination:</strong> Envisioning and creating innovative works may not be appealing to you.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Preference for Structure:</strong> You might prefer structured tasks over exploring different methods and styles.</div>
    </div>
    <div class="test-title" style="color:#2A740E; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Avoid:</div>
    <div style="width:100%; float: left; background: #EDFFE7; border: 1px solid #2A740E; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Graphic Design</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#2A740E;">• Creative Writing and Publishing</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Fine Arts</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E">• Performing Arts (e.g., Acting, Music)</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #2A740E;">• Interior and Fashion Design</strong></div>
    </div>
    {% elif 'S' in min_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #6D5C04; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Social (S)
      </div>
    </div>
    <div class="test-title" style="color:#6D5C04; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Lowest Points:</div>
    <div style="width:100%; float: left; background:#FFFAE2; border: 1px solid #6D5C04; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Limited Interpersonal Skills:</strong>You may find it challenging to build relationships and communicate effectively with others.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Lack of Empathy:</strong> Understanding and responding to the needs of others might not come naturally to you.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#6D5C04;">• Preference for Independent Work:</strong> You might prefer working alone rather than in collaborative environments.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Disinterest in Teaching:</strong> Educating and mentoring others may not be appealing to you.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Avoidance of Conflict Resolution:</strong> Mediating conflicts and facilitating harmonious interactions might be challenging.</div>
    </div>
    <div class="test-title" style="color:#6D5C04; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Avoid:</div>
    <div style="width:100%; float: left; background: #FFFAE2; border: 1px solid #6D5C04; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Counseling and Therapy</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#6D5C04;">• Teaching and Education</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Social Work</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04">• Healthcare (e.g., Nursing, Patient Care)</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #6D5C04;">• Human Resources and Organizational Development</strong></div>
    </div>
    {% elif 'E' in min_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #A22717; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Enterprising (E)
      </div>
    </div>
    <div class="test-title" style="color:#A22717; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Lowest Points:</div>
    <div style="width:100%; float: left; background:#FFFAE2; border: 1px solid #A22717; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Disinterest in Leadership:</strong>You may not enjoy leading or motivating others.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Limited Persuasive Skills:</strong> Influencing and convincing others might not be your strong suit.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#A22717;">• Lack of Ambition:</strong> You may not be highly driven or ambitious in seeking new opportunities.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Avoidance of Risk-Taking:</strong> Taking risks, even calculated ones, might make you uncomfortable.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Preference for Following:</strong> You might prefer following established procedures rather than making strategic decisions.</div>
    </div>
    <div class="test-title" style="color:#A22717; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Avoid:</div>
    <div style="width:100%; float: left; background: #FFFAE2; border: 1px solid #A22717; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Entrepreneurship and Startups</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#A22717;">• Sales and Marketing Management</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Business Leadership and Executive Roles</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717">• Real Estate Sales</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #A22717;">• Strategic Business Consulting</strong></div>
    </div>
    {% elif 'C' in min_length %}
    <div class="text-color-top" style="display: flex; justify-content: center;">
      <div class="top-layout" style="background: #0B5BA1; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
        Conventional (C)
      </div>
    </div>
    <div class="test-title" style="color:#0B5BA1; font-weight: 600; margin-top: 5px; margin-bottom: 5px; font-size: 16px;">Lowest Points:</div>
    <div style="width:100%; float: left; background:#EBF6FF; border: 1px solid #0B5BA1; border-radius: 5px; padding: 10px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Disinterest in Organization:</strong> You may find organizing details and maintaining order unappealing.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Lack of Attention to Detail:</strong> Being meticulous and precise might not be your preference.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#0B5BA1;">• Preference for Flexibility:</strong> You might prefer flexible tasks over structured, rule-based environments.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Limited Administrative Skills:</strong> Managing data, records, and schedules may not be your strong suit.</div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Disinterest in Routine:</strong> You may prefer variety over routine tasks.</div>
    </div>
    <div class="test-title" style="color:#0B5BA1; font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 16px; float: left; width:600px;">Careers to Avoid:</div>
    <div style="width:100%; float: left; background: #EBF6FF; border: 1px solid #0B5BA1; border-radius: 5px; padding: 10px; margin-bottom: 30px;">
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Accounting and Financial Management</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#0B5BA1;">• Administrative Support</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Data Entry and Clerical Work</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1">• Banking and Financial Services</strong></div>
      <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #0B5BA1;">• Compliance and Regulatory Roles</strong></div>
    </div>
    {% endif %}
    {% endif %}
  </div>

  {% if user_name and user_ID %}
  <div class="chapterPage">
    <div style="width:600px; text-align: center; margin-top: 30px; float: left; margin-bottom: 30px;">
      <img style="width:550px;" src="/media/graph_images/{{ user_name }}-{{ user_ID }}_interest_Assessment.png" alt="graph"/>
    </div>

    <div style="width: 600px; float: left;">
      <div class="text-color-top" style="display: flex; flex-direction: row; justify-content: center;">
        <div class="top-layout" style="background: #FF7D04; color: #fff; font-size: 16px; padding: 11px 38px; margin-top: 8px; font-weight: 600; border-radius: 10px 10px 0 0;">
          Next Steps
        </div>
      </div>
      <div style="width:600px; float: left; background:#FFF1E4; border: 1px solid #FF7D04; border-radius: 5px; padding: 10px;">
        <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #FF7D04;">• Explore Careers:</strong> Research the careers mentioned in this report to learn more about what they entail.</div>
        <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #FF7D04;">• Gain Experience:</strong> Seek out internships, volunteer opportunities, or part-time jobs in fields that interest you.</div>
        <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color:#FF7D04;">• Further Education:</strong> Consider the educational requirements for your desired careers and plan your academic path accordingly.</div>
        <div style="width:100%; float: left; margin: 2px 0; font-size: 14px;"><strong style="color: #FF7D04;">• Seek Guidance:</strong> Talk to career counselors, mentors, and professionals in your fields of interest for advice and guidance.</div>
      </div>
      <div class="text-info-paragraph" style="width: 550px; margin: 0px auto;">
        <p style="font-style: italic; text-align: center;">By aligning your career choices with your interests, you can find a fulfilling and rewarding career that leverages your strengths and passions. <strong style="color:#FF7D04;">Best wishes!</strong></p>
      </div>
    </div>
  </div>
  {% endif %}
</body>
</html>

