{% extends 'template20/base.html' %}
{% block title_content %}Terms and Condition{% endblock %}
{% block description_content %}Terms and Condition page for TopTeen career guidance platform.{% endblock %}
{% block content %}
{% include 'template20/includes/messages.html' %}
<main class="py-test-page">


    <section class="et-pv-page pb-10 pt-md-18 pt-14">
      <div class="container">

        <div class="row">
          {% include 'template20/includes/breadcrumb.html' %}

        </div>




        <div class="row">

          <div class="col-md-12 col-sm-12 ">
            <h1 class="title-two fs-38 fw-700 mb-4 mb-3 text-left fs-sm-28">Terms & Conditions</h1>
            <p class="text-gray text-left py-3 fw-400 fs-19">Terms and Conditions General Site Usage Last Revised: December 16, 2013 Welcome to <a href=" https://topteen.in">topteen.in </a>. This site is provided as a service to our visitors and may be used for informational purposes only.</p>
<h4>1. YOUR AGREEMENT </h4>
<p>By using this Site, you agree to be bound by, and to comply with, these Terms and Conditions. If you do not agree to these Terms and Conditions, please do not use this site.
</p>
<p><b>PLEASE NOTE: </b>We reserve the right, at our sole discretion, to change, modify or otherwise alter these Terms and Conditions at any time. </p>
<h4>2. PRIVACY </h4>
<p>Please review our Privacy Policy, which also governs your visit to this Site, to understand our practices.
</p>
<h4>3. LINKED SITES  </h4>
<p>This Site may contain links to other independent third-party Web sites ("Linked Sites”). These Linked Sites are provided solely as a convenience to our visitors.</p>
<p>Such Linked Sites are not under our control, and we are not responsible for and does not endorse the content of such Linked Sites.</p>


<h4>4. FORWARD LOOKING STATEMENTS  </h4>
<p>All materials reproduced on this site speak as of the original date of publication or filing. The fact that a document is available on this site does not mean that the information contained in such document has not been modified or superseded by events or by a subsequent document or filing.</p>
<h4>5. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY </h4>
          </div>






        </div>

      </div>

    </section>







  
</main>
{% endblock %}